body {
    font-size: 30px;
    font-family: monospace;
    background-color: teal;
}

header {
    height: 40px;
}

.title {
    color: white;
    font-size: 50px;
    margin: 0 auto;
    width: 550px;
    text-align: center;
    text-shadow: 0px 1px 1px #555;
}

.space {
    margin-top: 25px;
}

.listbox {
    background: white;
    border-radius: 0px;
    width: 500px;
    margin: 0 auto;
    padding: 25px 10px 1px 10px;
    box-shadow: 0px 7px 9px 5px rgba(0,0,0,0.4);
    text-align: center;
}

.menu-item {
    color: grey;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    font-size: 38px;
}

.selected, .selected:focus {
    pointer-events: none;
    color: #333;
}

.line {
    border-bottom: 2px solid #333;
    width: 80%;
    margin-left: 38px;
    opacity: .4;
    padding: 12px;
}

.users {
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.user {
    padding-top: 10px;
}

.hide-offline .offline {
    display: none;
}

.link {
    text-decoration: none;
    outline: none;
    color: dodgerblue;
}

.link:visited {
    color: dodgerblue;
}

.statusText {
    font-size: 14px;
    margin-bottom: 20px;
}

